
.image { 
    border-radius: 5px;
    border: 1px solid #4c5567;
    background-color: #4c5567; 
}
 
.image.card{
    width: 215px;
    height: 155px; 
} 

.image.imageEth {
    width: 62vw;
    height: 35vw;
}

.image.square {
    width: 150px;
    height: 125px;
    margin: 1vw;
}
 
.image.rectangle-vertical {  
    width: 150px;
    height: 300px;
}
  
.image.screen {
    width: 300px;
    height: 200px;
    margin-bottom: 35px;
}

.image.description{ 
    width: 275px;
    height: 200px;
}
 

.ImgeWhitDescription {
    color: #d4d4d4;
    font-style: italic;
    font-size: 10pt;
    border: 1px solid #4c5567;
    border-radius: 5px;
    width: min-content;
    margin: 1em;
    padding: 5px;
    float: left;
    margin-right: 15vmin;
}


.ImageAbout {
    width: 175px;
    height: 175px;
    border-radius: 115px;
    margin: auto;
    padding: 18px;
    box-shadow: 0px 0px 0px 18px var(--color-warm2);
    background-color: var(--color-warm1);
}
 
