@font-face {
    font-family: "HomemadeApple";
    src: local("HomemadeApple"), url("./HomemadeApple-Regular.ttf") format("truetype");
    font-weight: normal;
}
body {
    background-color: #B39709;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    margin: 0px;
} 

h1, h2 {
    text-align: center;
}

a { 
    color: lime;
}

.Shadow {
    filter: drop-shadow(0px 5px 2px #B39709);
}

    .Shadow h1 {
        margin: unset;
    }

.activeLink{
    background-color: red;
}



.bodyContainer {
    background-color: #FFDA19;
    padding-bottom: 10rem;
    padding-top: 4rem;
}


.container {
    background-color: #292e38;
    margin: 2vh 12vw 4vh 12vw;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 13px 2px -6px #4149586e;
    padding: 10px 30px 10px 30px;
} 
    .container.expand {
        padding-bottom: 30vmin;
    }
    .container.animations {
        overflow: hidden;
        filter: brightness(1);
    }
    .container h1 {
        color: #12B3B3;
    }
    .container.noPadding {
        padding: unset;
        display: flow-root;
    }


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
} 
    .flex.center {
        justify-content: center;
    }
    .flex.around {
        justify-content: space-around;
    } 
    .flex.hide {
        display: none;
    }
     

.boxHorizontal {
    width: 85vmin;
    margin: 10px 0px 10px 0px;
}
 

.BrownBox {
    background-color: #B39709;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

    .BrownBox.AboutResize {
        width: 85vmin;
        margin: auto;
    }

    .BrownBox.Contact h3, p {
        margin: 5px;
    }
 

.Postit {
    font-family: HomemadeApple, Arial, Verdana, sans-serif;
    margin: 10px;
    box-shadow: 0px 29px 29px -20px #FFDA19; 
    padding: 10px;
    border-radius: 9px;
    color: #FFDA19;
}

.Postit h3 {
    margin: 0px; 
    color: #00ffff;
}


hr {
    border: 1px solid #4c5567;
}


.Button {
    width: 100%;
    padding: 0.5rem;
    color: #FFDA19;
    background-color: #292e38;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 5px;
}


#footerBox {
    height: 10vh;
    background-color: #B39709;
    color: #FFDA19;
    text-align: center;
    padding: 1em;
}


#navbar {
    background-color: #21242c;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

    #navbar a {
        float: left;
        text-align: center;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }




@media screen and (max-width: 850px) {
    .container {
        margin-left: 2px;
        margin-right: 2px;
        padding: 10px 10px 10px 10px;
    }

    .flex {
        justify-content: center;
    }
}
