@font-face {
	font-family: "HomemadeApple";
	src: local("HomemadeApple"), url("./HomemadeApple-Regular.ttf") format("truetype");
	font-weight: normal;
}

:root {
	--color-cold1: #00ffff;
	--color-cold2: #12b3b3;
	--color-warm1: #ffda19;
	--color-warm2: #b39709;
	--color-container: #292e38;
}

h1, h2 {
	text-align: center;
}

a {
	color: lime;
}

.activeLink {
	background-color: var(--color-warm1);
	color: black !important;
	font-weight: bold;
}

body {
	background-color: var(--color-warm2);
	font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
	color: white;
	margin: 0px;
}

.bodyContainer {
	background-color: var(--color-warm1);
	padding-bottom: 10rem;
}

.header {
	text-shadow: 0px -1px 1px var(--color-container);
	color: var(--color-container);
	padding: 2rem 0 1rem 0;
}

.container {
	padding: 10px 30px 10px 30px;
	margin: 1rem 10rem 3rem 10rem;
	border-radius: 5px;
	background-color: var(--color-container);
	box-shadow: 0px 0px 0px 5px var(--color-container);
}

.container.expand {
	padding-bottom: 30vmin;
}

.container.animations {
	overflow: hidden;
	filter: brightness(1);
}

.container.noPadding {
	padding: unset;
	display: flow-root;
}

.container--txtHead {
	text-align: center;
	font-size: 34pt;
	color: #12b3b3;
	text-shadow: 0px -3px 3px var(--color-cold2);
	margin: 10px 0px 20px 0px;
}

.container--about h5 {
	text-align: center;
	color: var(--color-cold1);
	font-style: italic;
	margin: 1em auto 1em auto;
}

.container__proyect {
	width: 85vmin;
	margin: 10px 0px 10px 0px;
}

.container__txt {
	margin: 10px auto auto auto;
	max-width: 40vmax;
}

.container--txtColor h3 {
	color: #12b3b3;
}

.container__card {
	width: 215px;
	height: 250px;
	padding-bottom: 5px;
	margin: 2vmin;
	display: inline-table;
	border: 1px solid var(--color-warm1);
	border-radius: 5px;
	background-color: #414958;
	text-align: center;
	color: white;
	text-decoration: none;
}

.container__card:hover {
	border: 1px solid var(--color-cold1);
	box-shadow: 0px 0px 6px 5px var(--color-cold1);
	cursor: pointer;
}

.container__card h2, h4 {
	margin: 0.2em;
}

.container__card h2 {
	margin: 0.2em;
	color: #00ffff;
}

.BrownBox {
	background-color: var(--color-warm2);
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.BrownBox.about {
	width: 85vmin;
	margin: auto;
}

.BrownBox.contact h3, p {
	margin: 5px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.flex.center {
	justify-content: center;
}

.flex.around {
	justify-content: space-around;
}

.flex.column {
	flex-direction: column;
}

.flex.hide {
	display: none;
}

hr {
	border: 1px solid #4c5567;
}

.Button {
	width: 100%;
	padding: 0.5rem;
	color: var(--color-warm1);
	background-color: var(--color-container);
	font-size: 12pt;
	font-weight: bold;
	margin-top: 5px;
}

.footer {
	height: 10vh;
	background-color: var(--color-warm2);
	color: var(--color-warm1);
	text-align: center;
	padding: 1em;
}

.navbar {
	background-color: #21242c;
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
}

.navbar a {
	float: left;
	text-align: center;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
}

.Postit {
	font-family: HomemadeApple, Arial, Verdana, sans-serif;
	margin: 10px;
	box-shadow: 0px 29px 29px -20px var(--color-warm1);
	padding: 10px;
	border-radius: 9px;
	color: var(--color-warm1);
}

.Postit h3 {
	margin: 0px;
	color: var(--color-cold1);
}

.menu {
	position: fixed;
	right: 0;
	z-index: 2;
}

.menu__button {
    right: 12px;
    position: fixed; 
}

.menu__panel {
	background-color: #21242c; 
	display: none;
	position: relative;
	top: 45px;
	width: 8rem;
	padding: 1rem;
	border-bottom-left-radius: 10px;
}

.menu__panel a {
	color: var(--color-warm1);
	text-decoration: none;
}

.menu__panel.show {
	display: block;
	animation: show 1s;
}

.menu__button__line {
    width: 29px;
    height: 2px;
	background-color: rgb(255, 255, 255);
	margin: 7px 0 7px 0;
}

.menu__button__line.center {
	width: 13px;
	height: 13px;
	background-color: red; 
	border-radius: 50%;
	position: absolute;
    left: 14px;
    top: 12px;
}

.menu__button__line.arc {
	width: 40px;
	height: 15px;
	border: 6px solid var(--color-warm2);
	background-color: rgba(0, 0, 0, 0);
	border-left: 1px;
	border-right: 1px;
}

.menu__button__line.arc.top {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom: 0;
}

.menu__button__line.arc.bottom {
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top: 0;
	position: relative;
	top: -12px;
}

.menu__button.transform {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

@keyframes show {
	0% { 
		width: 0px; 
	}
	100% {
		width: 8rem; 
	}
}

@media screen and (max-width: 850px) {
	.header {
		padding: 1rem 0 0.5rem 0;
	}
	.container {
		margin: 15px 5px 30px 5px;
		padding: 5px 5px 5px 5px;
	}
	.flex {
		justify-content: center;
	}
}