
/* 
.fontHead {
    text-align: center;
    font-size: 34pt;
    font-weight: bold;
    color: #12B3B3;
    filter: drop-shadow(2px -1px 1px #12B3B3);
    margin-bottom: 20px;
    margin-top: 10px;
} */


.RoadMapTree {
    /* margin-left: 8vw;   */
    margin-left: 8vw;
    margin-top: 1rem;
}
.RoadMapTree.hide {
    display: none;
}

.boxIcon {
    border: 2px solid #FFDA19;
    border-radius: 10px;
    position: absolute;
    height: 4vw;
    width: 4vw;
    margin-bottom: 25px;
    background-color: #4c5567;
}

    .boxIcon.Show {
        position: static;
    }

    .boxIcon.Icolighted {
        border: 2px solid #00FFFF;
        background-color: #00FFFF;
        box-shadow: 3px 0px 3px 0px #00FFFF;
    }

.dragIco {
    float: right;
}

.boxData {
    border: 2px solid #FFDA19;
    border-radius: 5px;
    padding: 1%;
    position: absolute;
    margin-left: 12vmin;
    margin-right: 7vw;
    background-color: #263f48;
    width: 50vw;
    z-index: 1;
    font-size: 15pt;
}

.boxData.lighted {
        border: 1px solid #00FFFF;
        box-shadow: -3px 0px 3px 0px #00FFFF;
    }

    .boxData.grab {
        cursor: grab;
    }

    .boxData.grabbing {
        cursor: grabbing;
    }

    .boxData::before {
        content: "";
        margin-left: -4.7vmin;
        margin-top: -0.5vw;
        position: absolute;
        border-top: 2vmin solid transparent;
        border-right: 3vmin solid #00FFFF;
        border-bottom: 2vmin solid transparent;
    }
    
/*     .boxData.animation {
        animation: Opacity 1s;
    } */


.boxDate {
    border-radius: 10px;
    padding-left: 7px; 
    width: 70%;
    color: #12B3B3;
    font-weight: bold;
    position: absolute;
    left: 11px;
}
.boxDate.color {
    background: linear-gradient(to right, #000000, #ffffff);
}
.boxDate.animation {
    animation: Opacity 1s;
    animation: Sizer 1s;
}

.boxTitle {
    color: #ffda19;
    font-weight: bold;
    margin-top: 35px;
    padding-left: 10px;
}

/*     .boxTitle.animation {
        animation: Opacity 1s;
    } */


.boxDescription {
    padding-left: 5px;
    margin-bottom: 1em;
}

    .boxDescription ul {
        margin-top: 10px;
    }
    .boxDescription li {
        margin: 5px;
    }
/* 
    .boxDescription.animation {
        animation: Opacity 1s;
    } */

/* 
@keyframes Opacity {
    0% {
        opacity: 0;
    } 
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes Sizer {
    0% {
        width: 0;
        left: -4px;
    }

    30% {
        width: 10%;
        left: 11px;
    }

    100% {
        width: 70%;
        left: 11px;
    }
}
 */

.imgIco {
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 75%;
    height: 75%;
}



@media screen and (max-width: 850px) {

    .boxData {
        width: auto; 
        margin-left: 12vw;
        min-width: 75vw;
    }
    .boxDate {
       width: 70%;  
        /*  min-width: 65vw; */
    }

    .boxIcon {
        height: 7vw;
        width: 7vw;
    }

    .RoadMapTree {
        margin-left: 1vw;
    }
}
